.block11
  width 100%
  height auto
  background-image url("img/body-bg.png")
  background-repeat repeat

  .block11-content
    width 100%
    height auto
    padding-top 40px
    padding-bottom 40px
    @media (min-width 768px)
      padding-top 80px


    .form-block
      width 100%
      height auto
      display flex
      display -webkit-flex
      justify-content center
      align-content center
      flex-direction column

      h2
        color #ffffff
        margin-bottom 18px
        @media (min-width 1280px)
          margin-bottom 24px


      form
        width 100%
        height auto
        display flex
        display -webkit-flex
        justify-content center
        align-content center
        flex-direction column
        @media (min-width 768px)
          padding 0 54px
          box-sizing border-box

        input
          width 296px
          height 52px
          box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.2)
          border-radius 5px
          background-color #313131
          border none
          margin 0 auto
          color #ffffff
          text-align center
          &:nth-of-type(2)
            margin-top 8px
            margin-bottom 18px
          &::-webkit-input-placeholder
            color #c3c3c3!important
            font-family "Blogger_Sans-Italico"
            font-size 14px
            font-weight 300
            font-style italic
            line-height 20px
            text-align center
            @media (min-width 768px)
              font-size 16px
              line-height 18px
              font-weight 300
            @media (min-width 1280px)
              font-size 18px
              line-height 20px
          @media (min-width 768px)
            width 590px
            height 66px
            margin-bottom 10px
            &:nth-of-type(2)
              margin-bottom 20px
          @media (min-width 1280px)
            width 584px
            height 82px
            margin-bottom 12px
            &:nth-of-type(2)
              margin-bottom 24px


        button
          width 184px
          height 52px
          border-radius 64px
          border 2px solid #b69977
          background-color transparent
          color #d9b285
          font-family "Blogger_Sans"
          font-size 10px
          font-weight 500
          letter-spacing 0.36px
          text-transform uppercase
          margin 0 auto
          cursor pointer
          transition all 0.2s ease
          &:hover
            border 2px solid #cdb69b
          @media (min-width 768px)
            width 230px
            height 66px
            font-size 14px
            font-weight 500
          @media (min-width 1280px)
            width 284px
            height 82px


        p
          color #929292
          font-family "Blogger_Sans-Italico"
          font-size 14px
          font-style italic
          line-height 20px
          text-align center
          margin-top 61px
          padding 0 20px
          @media (min-width 768px)
            font-size 16px
          @media (min-width 1280px)
            font-size 18px
            margin-top 80px


