.block5
  width 100%
  height auto
  background-color #ddd

  .block5-content
    width 100%
    height auto
    justify-content flex-start
    align-items center
    flex-flow row wrap
    padding-left 15px
    padding-right 15px
    padding-top 0
    padding-bottom 40px
    box-sizing border-box
    @media (min-width 768px)
      padding-top 50px
      padding-bottom 50px
      padding-left 30px
      padding-right 30px


    .icon-block
      width 100%
      height auto
      display flex
      display -webkit-flex
      justify-content flex-start
      align-items center
      flex-direction row
      margin-bottom 41px
      @media (min-width 768px)
        width 50%
      @media (min-width 1280px)
        padding-left 50px
        box-sizing border-box

      img
        width 55px
        height 55px
        margin-right 19px
        @media (min-width 768px)
          width 69px
          height 69px
          margin-right 20px
        @media (min-width 1280px)
          width 86px
          height 86px

      p
        color #575757
        font-family "Blogger_Sans-Italico"
        font-size 14px
        font-style italic
        line-height 20px
        br
          display none
        @media (min-width 768px)
          font-size 16px
          font-style italic
          line-height 20px
        @media (min-width 1280px)
          font-size 18px
          line-height 22px
          br
            display block