.block4
  width 100%
  height auto
  background-color #dddddd
  @media (min-width 768px)
    padding-left 0

  .block4-content
    width 100%
    height auto
    max-width 1032px
    justify-content center
    align-items center
    flex-direction column
    padding-top 40px
    padding-bottom 40px
    @media (min-width 768px)
      justify-content flex-start
      align-items center
      padding-top 60px
      padding-bottom 0

    .block4-head
      width 100%
      height auto
      margin-bottom 40px
      @media (min-width 1280px)
        margin-bottom 60px

      h2
        color #202020
        font-family "GretaDisplayPro"
        font-size 24px
        font-weight 400
        text-align center
        margin-bottom 8px
        @media (min-width 768px)
          font-size 30px
          font-weight 400
          line-height 32px
          margin-bottom 10px
        @media (min-width 1280px)
          margin-bottom 12px
          font-size 34px
          font-weight 400
          line-height 34px

      p
        color #202020
        font-family "Blogger_Sans"
        font-size 16px
        font-weight 400
        text-align center
        @media (min-width 768px)
          font-size 18px
          font-weight 400
          line-height 20px
        @media (min-width 1280px)
          font-size 20px
          font-weight 400
          line-height 20px
          br
            display none


    .block4-company
      width 100%
      height auto
      display flex
      display -webkit-flex
      justify-content center
      align-items center
      flex-direction column
      @media (min-width 768px)
        flex-direction row
        justify-content flex-start
        align-items flex-start

      .company-img
        width 100%
        height 300px
        margin-bottom 18px
        background-image url("img/man.png")
        background-size 100%
        background-repeat no-repeat
        @media (min-width 768px)
          width 369px
          height 496px
          background-size auto
          background-position center center
          margin-right 5px
        @media (min-width 1280px)
          width 516px
          height 496px

      .company-text
        width 100%
        height auto
        padding 0 15px
        box-sizing border-box
        @media (min-width 768px)
          width 50%
          padding-top 20px
        @media (min-width 1280px)
          width 45%

        p
          color #575757
          font-family "Blogger_Sans"
          font-size 14px
          font-weight 400
          line-height 20px
          text-align left
          margin-bottom 18px
          @media (min-width 768px)
            font-size 16px
            font-weight 400
            line-height 20px

        .name
          width 100%
          height auto
          display flex
          display -webkit-flex
          justify-content flex-end
          align-items flex-end

          span
            color #202020
            font-family "GretaDisplayPro"
            font-size 14px
            font-weight 400
            line-height 18px
            text-align right
            @media (min-width 768px)
              font-size 16px
              font-weight 400
              line-height 20px
            @media (min-width 1280px)
              font-size 18px
              font-weight 400
              line-height 22px