.block12
  width 100%
  height auto
  background-image url("img/body-bg.png")
  background-repeat repeat

  .block12-content
    width 100%
    height auto
    justify-content flex-start
    align-items center
    flex-direction column
    padding-top 40px
    padding-bottom 40px
    @media (min-width 768px)
      padding-top 60px
      padding-bottom 60px
    @media (min-width 1280px)
      padding-top 70px
      padding-bottom 70px

    .block12-head
      width 100%
      height auto
      margin-bottom 40px
      @media (min-width 768px)
        margin-bottom 60px
      @media (min-width 1280px)
        margin-bottom 80px

      h2
        color #ffffff


      p
        color #ffffff
        font-family "Blogger_Sans"
        font-size 16px
        font-weight 400
        text-align center
        @media (min-width 768px)
          font-size 18px
          font-weight 400
        @media (min-width 1280px)
          font-size 20px
          font-weight 400
          line-height 24px

    .project-blocks
      width 100%
      height auto


      .project
        width 100%
        height auto
        display flex
        display -webkit-flex
        justify-content center
        align-items center
        flex-direction column
        margin-bottom 40px
        @media (min-width 768px)
          flex-direction row
          margin-bottom 70px
          &:nth-child(2)
            flex-direction row-reverse
            .project-img
              margin-right 0
              margin-left 20px
              @media (min-width 1280px)
                margin-right 32px
        @media (min-width 1280px)
          margin-bottom 90px



        .project-img
          width 100%
          height auto
          margin-bottom 18px
          @media (min-width 768px)
            margin-bottom 0
            margin-right 20px
            width auto
          @media (min-width 1280px)
            margin-right 32px


          img
            width 100%
            height auto
            @media (min-width 768px)
              width 280px
              height 140px
            @media (min-width 1280px)
              width 368px
              height 184px

        .project-text
          width 100%
          height auto
          @media (min-width 768px)
            max-width 290px
          @media (min-width 1280px)
            max-width 384px

          h3
            color #ffffff
            font-family "GretaDisplayPro"
            font-size 14px
            font-weight 400
            line-height 20px
            text-transform uppercase
            margin-bottom 8px
            @media (min-width 768px)
              font-size 16px
              font-weight 400
              line-height 20px
            @media (min-width 1280px)
              font-size 18px

          p
            color #bbbbbb
            font-family "Blogger_Sans"
            font-size 14px
            font-weight 400
            line-height 20px
            @media (min-width 768px)
              font-size 16px
              font-weight 400
              line-height 18px
            @media (min-width 1280px)
              line-height 20px
