body
  width 100%
  height 100%
  background-color #1f1f1f
  &.no-scroll
    width 100%
    height 100vh
    overflow hidden

  &.scroll
    overflow auto
  @media (min-width 1280px)
    display flex
    display -webkit-flex
    justify-content center
    align-items center
    flex-direction row

.err-form
  border-color red!important


@require mixins
@require header
@require block1
@require block2
@require block3
@require block4
@require block5
@require block6
@require block7
@require block8
@require block9
@require block10
@require block11
@require block12
@require block13
@require footer

