section#block7.block7.cnt
    div.block7-content.row
        div.block7-head
            h2 Этапы разработки проекта под ключ
            p У нас отлаженная система работы над каждым проектом, но это не мешает находить<br> индивидуальный подход к каждому клиенту

        div.steps-block
            div.step
                span 1
                p Связь с клиентом, уточнение пожеланий, консультирование по проекту, назначение встречи в удобное время и месте.
            div.step
                span 2
                p Составление сметы и заключение договора
            div.step
                span 3
                p Выезд на место обьект, произведение всех замеров и расчетов
            div.step
                span 4
                p Разработка искизного проекта
            div.step
                span 5
                p Разработка инженерного проекта
            div.step
                span 6
                p Строительство, сдача проекта
