section.block5.cnt
    div.block5-content.row
        div.icon-block
            img(src="img/icon-01.svg")
            p 7 лет на рынке
        div.icon-block
            img(src="img/icon-02.svg")
            p Более 10 000 м2 <br>реализованных проектов
        div.icon-block
            img(src="img/icon-03.svg")
            p Ведение проектов <br>на всех стадиях
        div.icon-block
            img(src="img/icon-04.svg")
            p Комплектация объектов <br>по уникальным условиям