section#block2.block2.cnt
    div.block2-content.row
        div.block2-head
            h2 Портфолио наших работ
            p Посмотрите наши работы

        div.block2-gallery
            div.tabs-block
                select.wrapper-dropdown-5
                    option#tabs1(value="") Строительство
                    option#tabs2(value="") Архитектурные проекты
                    option#tabs3(value="") Дизайн интерьеров

                div.tabs-row
                    div#tabs-row1.tabs-active Строительство
                    div#tabs-row2 Архитектурные <br>проекты
                    div#tabs-row3 Дизайн интерьеров

            div.slider-block1.slider-visible
                div.slider-block
                    div.slick-prev1.slick-prev-noactive

                    div.slick-slider

                        div.slick-slide
                            img(src="img/arhitekturni/slide-1.jpg")
                        div.slick-slide
                            img(src="img/arhitekturni/slide-2.png")
                        div.slick-slide
                            img(src="img/arhitekturni/slide-3.png")



                    div.slick-next1

                div.text-slide1
                    div.text-slide-content.slide.text-slide-visible
                        h3 "Макао"
                        p Реконструкция игрового зала в казино-гостинице "Макао" в Казахстане.

                        div.price-text
                            p Стоймость: 2 000 000 руб.
                            p Сроки: 74 рабочих дня

                    div.text-slide-content.slide
                        h3 Спа WC
                        p Спа салон на территории World Class
                        div.price-text
                            p Стоймость: 2 000 000 руб.
                            p Сроки: 74 рабочих дня

                    div.text-slide-content.slide
                        h3 Хлеб&Ко
                        p Проект кафе компании Хлеб&Ко на территории БЦ Романов Двор

                        div.price-text
                            p Стоймость: 2 000 000 руб.
                            p Сроки: 74 рабочих дня



            div.slider-block2.slider-visible
                div.slider-block
                    div.slick-prev2.slick-prev-noactive

                    div.slick-slider

                        div.slick-slide
                            img(src="img/dizain-intererov/slide-1.png")
                        div.slick-slide
                            img(src="img/dizain-intererov/slide-2.png")


                    div.slick-next2

                div.text-slide2
                    div.text-slide-content.slide.text-slide-visible
                        h3 Gostevaia
                        p Дизайн интерьера в гостевой спальне крупного предпринимателя, создавались с нуля зона спальни гардероба и с\у для гостей останавливающихся у клиента. »дет стройка, пока льют фундамент.

                        div.price-text
                            p Стоймость: 2 000 000 руб.
                            p Сроки: 74 рабочих дня

                    div.text-slide-content.slide
                        h3 Апартаменты SK
                        p Апартаменты в ЖК содовый квартал, в современном стиле.

                        div.price-text
                            p Стоймость: 2 000 000 руб.
                            p Сроки: 74 рабочих дня




            div.slider-block3.slider-visible
                div.slider-block
                    div.slick-prev3.slick-prev-noactive

                    div.slick-slider

                        div.slick-slide
                            img(src="img/stroitelstvo/slide-1.jpg")
                        div.slick-slide
                            img(src="img/stroitelstvo/slide-2.png")

                    div.slick-next3

                div.text-slide3
                    div.text-slide-content.slide.text-slide-visible
                        h3 Дизайн элитного загородного дома в стиле Luigi "Gino" Coppede
                        p Дизайн проект экстерьера  элитного загородного дома.В стиле Luigi "Gino" Coppede. Заказчик (крупный банкир) после путешествия по Италии был воодушевлен тамошней архитектурой и попросил сделать нечто подобное. После анализа зданий показаных заказчиком было выявлено что они принадлежат одному архитектору. Объект не был реализован т.к. заказчик отложил строительство до лучших времен.

                        div.price-text
                            p Стоймость: 2 000 000 руб.
                            p Сроки: 74 рабочих дня

                    div.text-slide-content.slide
                        h3 Проект разработанный для сайта фирмы СВОД.
                        p В стиле Американской классики(Craftsman house) 246 кв.м. Дом с мансардным этажем.

                        div.price-text
                            p Стоймость: 2 000 000 руб.
                            p Сроки: 74 рабочих дня



