section#block3.block3.cnt
    div.block3-content.row
        div.block3-head
            h2 Работаем над проектами любой сложности
            p Всегда готовы к самым смелым задачам!

        div.works-block
            div.work-block
                div.work-img
                    img(src="img/001.png")
                div.work-text
                    h3 Строительство
                    hr
                    p Дренажные работы, монтажные работы, нулевой цикл, кап.ремонт, строительство коттеджей, общестраительные работы, прокладывание инженерных сетей и коммуникаций. Геодезические изыскания, работы «под ключ».
                    p Команда увлеченных своим делом профессионалов, имеющих большой опыт в строительном бизнесе. Специолисты компанияии готовы реализовать проекты любой сложности. Возможности компании довольно широки: опыт и знания наших специалистов позволяют создать как простейшие проекты, так и довольно сложные в конструкции и расчетах задания.
                    p Штат сотрудников компании состовляют только высококвалифицированные специалисты, имеющие большой опыт работы в сфере строительства и заточенные на высокие результаты своей работы, которые удовлетворяют заказчика 100%
                    a.scroll-to(href="#block2" ) Смотреть пример

            div.work-block
                div.work-img
                    img(src="img/002.png")
                div.work-text
                    h3 Архитектурный проект
                    hr
                    p Разработка домов любой сложности из дерева и камня, зонирование функциональное и посадка на участок, разработка инженерных сетей и коммуникаций.
                    p Архитектурный проект, или раздел проектной документации Архитектурные решения (АР), включает в себя все необходимые объемно-планировочные решения Вашего будущего дома, помогает определить будущую конструкцию здания от фундамента до крыши. Составление проекта нужно начать именно с архитектурного проекта.
                    a.scroll-to(href="#block2" ) Смотреть пример

            div.work-block
                div.work-img
                    img(src="img/003.png")
                div.work-text
                    h3 Дизайн интерьеров
                    hr
                    ul
                        li - перепланировки квартир различной сложности
                        li - авторский надзор с полным контролем работ
                        li - слышать клиента и готовность обсуждать любые вопросы
                        li - обеспечение жилья необходимыми местами хронения
                        li - организация всего процесса без обращения клиента к сторонним организациями
                        li - удобное расположение розеток и выключателей в вашем доме
                        li - экономим ваш бюджет и просчитываем весь необходимый объем
                    p Дизайн проект интерьера вашего будущего дома — это один из самых трудоемких и творческих процессов, который требует работы только профессионалов. Наш дизайнер подойдет к делу индивидуально, для каждого клиента. Задача дизайнера — понять вас, посоветовать и внести свою лепту в этот творческий процесс.
                    a.scroll-to(href="#block2") Смотреть пример