section.block11.cnt
    div.block11-content.row
        div.form-block
            h2 Заполните форму и получите подарок
            form
                input(type="text" name="name" placeholder="Укажите Ваше имя")
                input(type="text" name="phone" placeholder="Укажите Ваш телефон")
                button(type="submit") Получить подарок

                p *мы гарантируем конфиденциальность Ваших данных