section.block13.cnt
    div.block13-content.row
        div.block13-head
            h2 Наши контакты
        div.contacts-block
            div.time
                span Часы работы:
                p Пн–Пт: 10:00–22:00<br>Сб-Вс: 12:00–22:00

            div.phone
                span Позвоните нам:<br>
                a(href="tel:89260137613") 8 (926) 013-76-13

            div.mail
                span Напишите нам:<br>
                a(href="mailTo:v.g.buildings@gmail.com") v.g.buildings@gmail.com

            div.inn
                span ИНН:
                p 772409165175