section.block1.cnt
    div.block1-content.row
        div.block1-head
            h1 Строительство, проектирование и дизайн
            p интерьеров любых помещений премиум-класса от первого эскиза и до завершения строительных работ точно в срок

            span *при заказе рабочего проекта для объекта с площадью от 150 м2 эскизный проект бесплатно!

            a.fancybox(href="#form-calculation" onclick="return false") Получить расчёт