footer.cnt
    div.footer-content.row
        div.conf-block
            p VGBuildings © 2017
            a.fancybox(href="#politic") Политика конфиденциальности

        div.nt
            a(href="http://worknext.ru/" target="_blank")
                img.nt-big(src="img/nt-logo.png")
                img.nt-mini(src="img/logotype-main.png")

a.thnx.fancybox(href="#thnx-a")

div#politic
    div.politic-popup
        h2 Политика конфиденциальности
        p Данное соглашение об обработке персональных данных разработано в соответствии с законодательством Российской Федерации.
        p Все лица, заполнившие сведения, составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями подтверждают свое согласие на обработку персональных данных и их передачу оператору обработки персональных данных.
        p Под персональными данными Гражданина понимается нижеуказанная информация: общая информация (имя и адрес электронной почты, телефон).
        p Гражданин, принимая настоящее Соглашение, выражают свою заинтересованность и полное согласие, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, уничтожение.
        p Гражданин гарантирует: информация, им предоставленная, является полной, точной и достоверной; при предоставлении информации не нарушается действую

div#form-calculation
    div.calculation-popup
        form
            h2 Заполните форму и <br>получите расчёт
            input(type="text" name="name" placeholder="Укажите Ваше имя")
            input(type="text" name="phone" placeholder="Укажите Ваш телефон")
            button(type="submit") Получить расчёт

        p *мы гарантируем конфиденциальность Ваших данных


div#form-gift
    div.gift-popup
        form
            h2 Заполните форму и получите подарок
            input(type="text" name="name" placeholder="Укажите Ваше имя")
            input(type="text" name="phone" placeholder="Укажите Ваш телефон")
            button(type="submit") Получить подарок

        p *мы гарантируем конфиденциальность Ваших данных

div#thnx-a
    div.thank-popup
        h2 Спасибо за заявку!

