section#block4.block4.cnt
    div.block4-content.row
        div.block4-head
            h2 О компании VGBuildings
            p Мы развиваемся вместе с нашими <br>клиентами

        div.block4-company
            div.company-img
            div.company-text
                p Среди разнообразия предложений по архитектурному проектированию и дизайну на рынке Москвы наши услуги качественно выделяются своим уровнем. Судите сами: за семь  лет постоянной практики мы реализовали более семидесяти   проектов,  от интерьеров небольших кафе  до многоэтажных жилых зданий и элитных общественных центров, таких как фитнес «World Class».
                p Мы всегда следим за тем, чтобы обеспечить свежий и современный подход к каждому проекту и ведем работу от первого эскиза и до завершения строительных работ. Благодаря этому мы сотрудничаем с лучшими в России специалистами по строительству и инженерным коммуникациям и ведущими поставщиками отделочных материалов. Главным преимуществом сотрудничества является возможность предлагать услуги на дизайн проект с гибкой ценовой политикой,и полностью под ключ. 

                div.name
                    span Гуния Иван Автандилович <br>основатель компании