section#block8.block8.cnt
    div.block8-content.row
        div.block8-head
            h2 Стоимость проектов
            p Мы всегда идём навстречу нашим клиентам, поэтому в зависимости от <br>состава проекта цены обсуждается индивидуально.

        div.table-block
            div.table-static
                div
                    h3 от 200 кв. м
                div
                    h3 от 150 кв. м
                div
                    h3 от 70 кв. м
                div
                    h3 до 50 кв. м
            div.table-slider
                div.slick-slider
                    div.slick-slide
                        table
                            tbody
                                tr
                                    td.head-t Предэскиз
                                tr
                                    td от 350 руб. /<br> кв. м
                                tr
                                    td от 450 руб. /<br> кв. м
                                tr
                                    td от 700 руб. /<br> кв. м
                                tr
                                    td индивидуально
                                tr
                                    td
                                        a.fancybox(href="#form-gift" onclick="return false") Подробнее
                    div.slick-slide
                        table
                            tbody
                                tr
                                    td.head-t Эскизный проект
                                tr
                                    td от 550 руб. /<br> кв. м
                                tr
                                    td от 750 руб. /<br> кв. м
                                tr
                                    td от 900 руб. /<br> кв. м
                                tr
                                    td индивидуально
                                tr
                                    td
                                        a.fancybox(href="#form-gift" onclick="return false") Подробнее
                    div.slick-slide
                        table
                            tbody
                                tr
                                    td.head-t Рабочий проект
                                tr
                                    td от 2150 руб. /<br> кв. м
                                tr
                                    td от 2350 руб. /<br> кв. м
                                tr
                                    td от 2550 руб. /<br> кв. м
                                tr
                                    td индивидуально
                                tr
                                    td
                                        a.fancybox(href="#form-gift" onclick="return false") Подробнее
                    div.slick-slide
                        table
                            tbody
                                tr
                                    td.head-t Столярные изделия
                                tr
                                    td от 650 руб. /<br> кв. м
                                tr
                                    td от 750 руб. /<br> кв. м
                                tr
                                    td от 950 руб. /<br> кв. м
                                tr
                                    td индивидуально
                                tr
                                    td
                                        a.fancybox(href="#form-gift" onclick="return false") Подробнее
