section.block12.cnt
    div.block12-content.row
        div.block12-head
            h2 Наше участие в проектах
            p Мы всегда за свежий и современный подход к каждому проекту

        div.project-blocks
            div.project
                div.project-img
                    img(src="img/sber.png")
                div.project-text
                    h3 Сбербанк
                    p Целью стоит реконструкция существующей зоны VIP клиентов Сбербанка у  хранилища ценностей. Этап: ожидание утверждения концепции заказчиком.
            div.project
                div.project-img
                    img(src="img/HC.png")
                div.project-text
                    h3 Hope Cakes
                    p Проект частной пекарни в ЮАО Москвы. В данном проекте решались две проблемы, необходим был красивый шоурум для презентации тортов,  и зона для клиентов желающих посидеть  попить кофе.
            div.project
                div.project-img
                    img(src="img/WC.png")
                div.project-text
                    h3 World Class
                    p Реконструкция помещения в в фитнесс центре World Class Romanov. Целью стояло расширение арендной площади и реимидж клуба. Проект был утвержден но до реализации не дошло т.к. площадь арендовалась у БЦ Романовъ и финансово стало невозможным силами WC.