section.block10.cnt
    div.block10-content.row
        div.block10-head
            h2 У нас есть для Вас подарок


        div.gifts-block
            div.gift
                img(src="img/icon-11.svg")
                p Скидка 30% при подписании договора на реализацию
            div.gift
                img(src="img/icon-11.svg")
                p Рекомендации по грамотной планировке Вашего объекта
            div.gift
                img(src="img/icon-11.svg")
                p При заказе ремонт у нас помощь в составлении бюджета на ремонт
            div.gift
                img(src="img/icon-11.svg")
                p Встреча в удобном Вам месте и в удобное время