section.block6.cnt
    div.block6-content.row
        div.block6-head
            h2 Полный комплекс услуг по каждому <br>направлению
            p Кропотливая работа на каждом этапе залог лучшего качества.

        div.services-block
            div.services
                img(src="img/icon-05.svg")
                p Технологическое<br> проектирование
            div.services
                img(src="img/icon-06.svg")
                p Проектирование<br> инженерных систем
            div.services
                img(src="img/icon-07.svg")
                p Дизайн<br> интерьера
            div.services
                img(src="img/icon-08.svg")
                p Комплексное<br> оснащение
            div.services
                img(src="img/icon-09.svg")
                p Монтаж<br> инженерных систем
            div.services
                img(src="img/icon-10.svg")
                p Реализация<br> проекта