header#menu
    div.header-content.row

        div.logo-block

        div.menu-hamburger
            div.block-menu
                div.burger
                    div.block1
                    div.block2
                    div.block3

        div.habmenu
            div.hab-content
                div
                    a.scroll-to(href="#block3") Что мы делаем
                div
                    a.scroll-to(href="#block9") Расчёт проекта
                div
                    a.scroll-to(href="#block2") Портфолио
                div
                    a.scroll-to(href="#block7") Этапы работы
                div
                    a.scroll-to(href="#block4") О нас
                div
                    a.scroll-to(href="#block8") Цены

                div.hab-contact
                    a(href="tel:89260137613" onclick="return false") 8 (926) 013-76-13
                    a.but-link(href="#" onclick="return false") Заказать консультацию
